<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net35" />
  <package id="MySql.Data" version="6.9.7" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net35" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net35" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net35" />
</packages>